* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #171717;
  --lighter-dark: #1a1a1a;
  --text-color: #f4f4f4;
  --cta-color: #2C3AFF;
  --active-color: #3ABC3A;
  --inactive-color: #FF3030;
  --border-color: #262626;
}

body {
  background-color: #171717;
  height: 160vh;
  font-family: 'graphik';
}
.head-container {
  display: flex;
  width: 80%;
  margin:auto;
  margin-top: 40px;

}
.head-container img {
  height: 100px;
  width: 100px;
}
.styleguide-head-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.styleguide-head-text p {
margin-top: 10px;
}
.styleguide-head  {
  height: 130px;
  width: 130px;
}
h1 {
  font-size: 64px;
  color: #f4f4f4;
}
h2 {
font-size: 32px;
color: #f4f4f4;
font-weight: semi-bold;
}
p {
  font-size: 14px;
  color: #f4f4f4;
}
.colorpalette-container {
width: 80%;
margin: auto;
margin-top: 100px;

}
.colorbox {
  background-color: #212121;
  width: 175px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right: 50px;
}
.color {
  background-color: #2C3AFF;
  height: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.color2 {
  background-color: #F4F4F4;
  height: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

}
.color3 {
  background-color: #171717;
  height: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.color4 {
  background-color: #1E1E1E;
  height: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.color5 {
  background-color: #3ABC3A;
  height: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.color6 {
  background-color: #FF3030;
  height: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.display-flex-color {
  display: flex;
  margin-bottom: 50px;
}
.color1 {
color: #f4f4f4;
font-size: 16px;
}
.typograhi-container {
  margin-top: 50px;
  width: 80%;

}
.flex-typograhy1 {
display: flex;
margin-top: 80px;
align-items: center;
}
.flex-typograhy1 h1 {
  margin-right: 200px;
}
.flex-typograhy1 h2 {
  margin-right: 365px;
}
.flex-typograhy1 p {
  max-width: 500px;
  margin-right: 40px;

}
.midlletext-typograhy1 {
  font-size: 16px;
  color: #f4f4f4;
  margin-right: 80px;
  margin-top: 20px;

}
.midlletext-typograhy2 {
  font-size: 16px;
  color: #f4f4f4;
  margin-top: 20px;
}
.cta-button-header {
 width: 150px;
 height: 40px;
 border-radius: 13px;
 background-color: #2C3AFF;
 text-align: center;
 color: var(--text-color);
 font-size: 14px;
 font-weight: 600;
 margin-right: 30px;
 cursor: pointer;
 margin-top: 50px;
 margin-bottom: 50px;
}
.cta-button-header p {
margin-top: -10px;
}
.randomcode {
  width: 30%;
  height: 200px;
  color: white;
  background-color: #1A1A1A;
  padding: 30px;
  border-radius: 20px;
}
.randomcode2 {
  width: 100%;
  height: 400px;
  color: white;
  background-color: #1A1A1A;
  padding: 30px;
  border-radius: 20px;
}
pre {
  overflow: scroll;
  height: 370px;
  overflow-x: hidden;
}
.pre01 {
  height: 150px;
  overflow: scroll;
  overflow-x: hidden;
}

.linear img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 43px;
  left: 60%;
}
.buttonRow {
  position: relative;
  display: flex;
  height: 150px;
  width: 100%;
  padding-left: 22px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.none img {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 60%;
  top: 43px;
}
.cubic img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 43px;
  left: 60%;
}
.linear img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 43px;
  left: 60%;
}
.linear{
  position: relative;
  width: 33%;
  margin-right: 30px;
  border-radius: 23px;
  background-color: var(--lighter-dark);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding-left: 6%;
  cursor: pointer;
  border: none;
}
.cubic{
  position: relative;
  width: 33%;
  margin-right:30px;
  border-radius: 23px;
  background-color: var(--lighter-dark);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding-left: 6%;
  cursor: pointer;
  border: none;
}
.none{
  position: relative;
  width: 33%;
  border-radius: 23px;
  background-color: var(--lighter-dark);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding-left: 6%;
  cursor: pointer;
  border: none;
}
.precode1 {
  color: var(--text-color);
  background-color: var(--lighter-dark);
  border-radius: 30px;
  overflow: scroll;
  height: 370px;
  overflow-x: hidden;
}
