@font-face{
    font-family:'Graphik-Black';
    src: url('../fonts/Graphik-Black.otf');
}
@font-face{
    font-family:'Graphik-Regular';
    src: url('../fonts/Graphik-Regular.otf');
}
@font-face{
    font-family:'Graphik-Semibold';
    src: url('../fonts/Graphik-Semibold.otf');
}
@font-face{
    font-family:'Graphik-Bold';
    src: url('../fonts/Graphik-Bold.otf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Graphik-Black';

}
:root {
  --primary-color: #171717;
  --lighter-dark: #1a1a1a;
  --text-color: #f4f4f4;
  --cta-color: #2C3AFF;
  --active-color: #3ABC3A;
  --inactive-color: #FF3030;
  --border-color: #262626;
}

h1, h2, h3, h4 {
  font-family: 'Graphik-Black';
}
th,td,span {
  font-family: 'Graphik-Semibold';
}
body {
  background-color: var(--primary-color);
}

/* Login */
.login-overskrift {
  display: flex;

}
.login-overskrift h3{
margin-left: 210px;


}
.login-wrapper {
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.login-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: block;
  border-radius: 20px;
  background-color: #202020;
  padding: 20px 0 30px 0;
  width: 575px;
  height: 485px;
}

.login-h1 {
color: #fff;
margin-top: 50px;
font-size: 22px;
}

.login-overskrift h2 {
color: #fff;
font-weight: bold;
margin-top: 10;
font-size: 13px;
text-align: left;
margin-left: 25px;
}

.login-overskrift h3 {
color: #fff;
font-weight: bold;
font-size: 13px;
text-align: right;
margin-right: 25px;
}

.overskrift3 {
color: #fff;
font-size: 12px;
text-align: center;
margin-top: 10px;
font-weight: normal;
}



.logbtn {
  width: 440px;
  padding: 12px;
  color: #fff;
  background-color: #303030;
  align-items: center;
  border: none;
  border-radius: 16px;
  margin: 10px 0;
  opacity: 0.8;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  outline: none;
}
.logind-knap {
 display: block !important;
}

.logbtn:hover {
  opacity: 1.5;
}


.logbtn[type=submit] {
  background-color: #2C3AFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.logbtn[type=submit]:hover {
  background-color: #fff;
  color: black;
}

.logbox {
  float: left;
  width: 100%;
  padding: 0 50px;
  margin-top: 30px;
}


/* Modal */


button:hover {
  box-shadow: 4px 4px 15px #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


/* Modal Content */

.modal-content {

    background-color: #fefefe;
    box-shadow: 2px 2px 10px silver;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    width: 80%;

}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* feedback box */


.feedback-modal {
font-family: 'Graphik', sans-serif;
background-color: rgba(0,0,0,0.7);
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
overflow: hidden;


}

.feedback-container{
  background-color: #0C0C0C;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 15px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 570px;
}


.feedback-rank-container strong {
  line-height: 20px;
  margin-top: 15px;
}

.feedback-rank-container {
display: flex;
margin: 20px 0;
}

.feedback-rank {
flex: 1;
cursor: pointer;
padding: 20px;
margin: 10px 5px;

}

.feedback-rank:hover,
.feedback-rank.active{
  border-radius: 4px;
  color: #2C3AFF;
}

.feedback-rank img{
  width: 90px;
}

.feedback-rank small{
  display: inline-block;
  margin: 15px 0 0;
  font-size: 14px;
}

.feedback-rank:hover small,
.feedback-rank.active small {
  font-weight: bold;
}

strong{
  font-size: 20px;
}

.button-container{
margin-bottom: 15px;
}

/* button style */

.btn-cancel{
  background-color:#0C0C0C;
  font-weight: bold;
  color: white;
  border-style: groove;
  border-radius: 4px;
  padding: 12px 30px;
  margin: 0 35px 0;
  cursor: pointer;
  }

.btn-submit{
  background-color:#2C3AFF;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 4px;
  padding: 12px 30px;
  margin: 0 35px 0;
  cursor: pointer;
}

<!-- Buttons transformation -->

.btn1:focus {
  outline: 0;
}

.btn1:active {
  transform: scale(0.98);
}

.btn2:focus {
  outline: 0;
}

.btn2:active {
  transform: scale(0.98);
}



<!-- feedback slut  -->




.page-container {
 height: 100vh;
}
.sidebar {
  padding: 40px 30px;
  height: 100vh;
  position: fixed;
  width: 300px;
  background-color: var(--lighter-dark);
  border-right: 1px solid var(--border-color);
}
.sidebar p {
  font-family: 'Graphik-Semibold';
}
.sidebar ul {
  list-style-type: none;
  margin-top: 15px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
 cursor: pointer;
}
.sidebar ul li {
  display: flex;
}
.sidebar ul li p {
 padding: 15px;
}
.material-icons {
  color: var(--text-color);
  padding-right: 15px;
  padding-top:15px
}
.feedback-container {
  margin-top: 20px;
  background-color: var(--primary-color);
  width: 100%;
  height: 400px;
  max-height: 40%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.feedback-container h3 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-color);
}
.btn-feedback {
  width: 190px;
  color: var(--text-color);
  background-color: var(--cta-color);
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}
.logout {
  margin-top: 10px;
  display: flex;
  width: 60%;
  color: var(--text-color);
}
.logout li {
  list-style-type: none;
  padding-left: 35px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

}
.header-content {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100px;
  background-color: var(--lighter-dark);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  z-index: 999;
}
.header-search {
  height: 50px;
  width: 280px;
  margin-left: 100px;
  margin-top: 23px;
  border-radius: 15px;
  background-color: #202020;
}
.header-search input {
  padding-left: 20px;
  font-size: 18px;
  background-color: #202020;
  margin-top: 11px;
  outline: none;
  border: none;
  color: var(--text-color)
}
.header-elements {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
  list-style-type: none;
}
.profile-header {
  display: flex;
}
.cta-button-header {
 width: 150px;
 height: 40px;
 border-radius: 13px;
 background-color: var(--cta-color);
 text-align: center;
 color: var(--text-color);
 font-size: 14px;
 font-weight: 600;
 margin-right: 30px;
 cursor: pointer;


}
.cta-button-header p {
  margin-top: 9px;
}
.notifikation-header {
   margin-right: 30px;
   cursor: pointer;
}
.profile-header img{
  margin-right: 30px;
  cursor: pointer;
}
.profile-header p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
}
.arrowdown-header {
  margin-top: 15px;
}
a:visited{
  text-decoration: none;
  display: flex;
  color: white;
}
a:link{
  text-decoration: none;
  display: flex;
  color: white;
}

/*--------------------------------------
Support page */

.body-content {
  top: 100px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 100px);
  position: fixed;
  display: flex;
}
.body-content p {
  font-family: 'Graphik-Semibold';
  font-size: 15px;
}
.get-help {
  color: var(--text-color);
  font-weight: bold;
  font-size: 63px;
  margin-top: 30px;
  margin-left: 60px;
}
.support-chat {
  position: relative;
  right: 140px;
  top: 230px;
  width: calc(100% - 500px);
  height: calc(100% - 260px);
  background-color: var(--lighter-dark);
  position: fixed;
  border-radius: 25px;
}
.support-chat img:nth-child(1) {
  position: relative;
  top: 20%;
  padding-left: 50px;
}
.support-chat img:nth-child(2) {
  position: relative;
  top: 50%;
}
.support-text {
  position: absolute;
  bottom: 0;
  width: calc(100% - 100px);
  margin-left: 50px;
  margin-bottom: 30px;
  height: 60px;
  background-color: #202020;
  border-radius: 8px;
}
.support-text input {
  width: calc(100% - 200px);
  font-size: 18px;
  background-color: #202020;
  margin-top: 11px;
  padding-left: 20px;
  outline: none;
  border: none;
  color: var(--text-color);
  font-family: 'Graphik-Semibold';
}
.support-text span:nth-child(2) {
  padding-right: 50px;
}
.flexstart {
  margin: 15px;
}
.maanehans1 {
  padding-top: 50px;
  display: inline-block;
  float: left;
}
@media screen and (max-width: 1400px){
  .maanehans1 img {
    width: 80%;
    height: 60%;
  }
}
.maanehans2 {
  position: relative;
  padding-top: 250px;
  top: 25%;
}
@media screen and (max-width: 1400px) {
  .maanehans2 img {
    width: 100px;
    height: 50px;
  }
}
.help-text {
  position: absolute;
  display: inline-block;
  float: left;
  margin-top: 60px;
  margin-left: 30px;
  border-radius: 13px;
  width: 280px;
  height: 50px;
  background-color: var(--cta-color);
}
@media screen and (max-width: 1400px) {
  .help-text {
    position: absolute;
    display: inline-block;
    float: left;
    margin-top: 60px;
    margin-left: 5px;
    border-radius: 13px;
    width: 240px;
    height: 30px;
    background-color: var(--cta-color);
  }
}
.help-text p {
  text-align: left;
  margin-top: 12px;
  margin-left: 10px;
  color: var(--text-color);
}
@media screen and (max-width: 1400px) {
  .help-text p {
    text-align: left;
    margin-top: 3px;
    font-size: 15px;
    margin-left: 10px;
    color: var(--text-color);
  }
}

.help-text2 {
  position: absolute;
  display: inline-flex;
  top: 100px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 13px;
  width: 280px;
  height: 50px;
  background-color: var(--cta-color);
  min-width: 50px;
}
@media screen and (max-width: 1400px) {
  .help-text2 {
    position: absolute;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 13px;
    width: 240px;
    height: 30px;
    background-color: var(--cta-color);
  }
}
.help-text2 p {
  text-align: left;
  margin-left: 10px;
  margin-top: 12px;
  color: var(--text-color);
}
@media screen and (max-width: 1400px) {
  .help-text2 p {
    text-align: left;
    margin-top: 3px;
    font-size: 15px;
    margin-left: 10px;
    color: var(--text-color);
  }
}
.help-text3 p {
  text-align: left;
  margin-left: 10px;
  margin-top: 12px;
  color: var(--primary-color);
}
@media screen and (max-width: 1400px) {
  .help-text3 p {
    text-align: left;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 15px;
    color: var(--primary-color);
  }
}
.help-text3 {
  display: inline-flex;
  float: right;
  margin-top: 240px;
  border-radius: 13px;
  width: 290px;
  height: 112px;
  background-color: var(--text-color);
}
@media screen and (max-width: 1400px) {
  .help-text3 {
    display: inline-flex;
    margin-top: 220px;
    border-radius: 13px;
    width: 250px;
    height: 100px;
    background-color: var(--text-color);
  }
}
.help-text4 {
  display: inline-flex;
  position: relative;
  top: 15.5%;
  border-radius: 13px;
  margin-left: 160px;
  width: 290px;
  height: 50px;
  background-color: var(--cta-color);
}
@media screen and (max-width: 1400px) {
  .help-text4 {
    display: inline-flex;
    position: relative;
    top: 18%;
    border-radius: 13px;
    margin-left: 130px;
    width: 240px;
    height: 30px;
    background-color: var(--cta-color);
  }
}
.help-text4 p {
  text-align: left;
  margin-left: 10px;
  margin-top: 12px;
  color: var(--text-color);
}
@media screen and (max-width: 1400px) {
  .help-text4 p {
    text-align: left;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 15px;
    color: var(--text-color);
  }
}
.wrapperr {
  display: flex;
  flex-direction: column;
}
.maanelars {
  float: right;
  margin-top: 250px;
  margin-right: 50px;
}
@media screen and (max-width: 1400px){
  .maanelars img {
    width: 80%;
    height: 60%;
  }
}
#toastPopup {
  visibility: hidden;
  min-width: 300px;
  margin-left: -150px;
  background-color: var(--border-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 13px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 125px;
}
#toastPopup.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 125px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 125px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 125px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 125px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*--------------------------------------
Dashboard page */
.dashContainer{
  top: 100px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 100px);
  position: absolute;
  padding: 30px;
}
.headertext{
  display: inline-block;
  position: relative;
  height: 150px;
}
.headertext h1 {
  color: var(--text-color);
  font-size: 63px;
  font-weight: bold;
  padding-left: 30px;
}
.headertext p:nth-child(2) {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
}
.buttonRow {
  position: relative;
  display: flex;
  height: 150px;
  width: 100%;
  padding-left: 22px;
}
.none img {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 60%;
  top: 43px;
}
.cubic img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 43px;
  left: 60%;
}
.linear img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 43px;
  left: 60%;
}
.linear{
  position: relative;
  width: 33%;
  margin-right: 30px;
  border-radius: 23px;
  background-color: var(--lighter-dark);
  color: var(--text-color);
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  padding-left: 6%;
  cursor: pointer;
  border: none;
}
.cubic{
  position: relative;
  width: 33%;
  margin-right:30px;
  border-radius: 23px;
  background-color: var(--lighter-dark);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding-left: 6%;
  cursor: pointer;
  border: none;
}
.none{
  position: relative;
  width: 33%;
  border-radius: 23px;
  background-color: var(--lighter-dark);
  color: var(--text-color);
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  padding-left: 6%;
  cursor: pointer;
  border: none;
}
.activator {
  background-color: var(--cta-color);
}
.botRow{
  position: relative;
  display: flex;
  width: 100%;
  top: 4%;
  padding-left: 20px;
}
.graph{
  width: 70%;
  height: 500px;
}
.graph img{
  width: 100%;
  height: 100%;
}
.activeProject{
  width: 30%;
  height: 490px;
  margin-left: 30px;
  background-color: var(--lighter-dark);
  border-radius: 23px;
}
.projectTitle{
  width: 100%;
}
.projectTitle p:nth-child(1){
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  text-align: center;
}
.projectTitle p:nth-child(2){
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.projectContainer{
  width: 100%;
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}
.projectTxt {
  color: var(--text-color);
  font-weight: 600;
  margin-top: 50px;
}
.projectTxt p {
margin-top: 15px;
}
.projectTxt2 {
  text-align: right;
  color: var(--text-color);
  font-weight: 600;
  margin-top: 50px;
  margin-left: 35%;
}
.projectTxt2 label input {
margin-top: 20px;
}
.projectTxt2 p {
margin-top: 15px;
}
.dashInfoBtns {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.editFile1 {
  position: relative;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  width: 135px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--lighter-dark);
  border-color: var(--text-color);
  cursor: pointer;
  border-style: solid;
}
.editFile1 img {
  position: absolute;
  top: 8px;
  left: 90px;
}
.saveFile1 {
  position: relative;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  width: 135px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--cta-color);
  cursor: pointer;
  border: none;
}
.saveFile1 img {
  position: absolute;
  top: 9px;
  left: 90px;
}

.projectBody {
  top: 100px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 100px);
  position: absolute;
  padding: 60px 30px 30px 60px;
  z-index: 1;
}
.projectsheadtext {
  display: flex;
  width: 100%;
  color: var(--text-color);
  font-size: 30px;
}

.projectsheadtext2 {
  position: absolute;
  right: 30px;
  top: 82px;
  outline: none;
}
.projectsheadtext2 button {
  outline: none;
  border: none;
}
table {
  width: 100%;
  margin-top: 30px;
  text-align: left;
  padding-left: 30px;
}
thead {
  color: var(--text-color);
}
tbody {
color: var(--text-color);
}
tbody {
  background-color: var(--lighter-dark);

}
td {
  background: var(--lighter-dark);
  padding: 5px;
}
table {
background: var(--lighter-dark);
  border-spacing: 35px;
}
.table-active {
  background-color: var(--active-color);
  border-radius: 30px;
  padding: 10px 0px 10px 0;
  text-align: center;
  width: 130px;
}
.table-inactive {
  background-color: var(--inactive-color);
  border-radius: 30px;
  padding: 10px 0px 10px 0;
  text-align: center;
  width: 130px;
}
.tabledisplayflex {
  display: flex;
  align-items: center;
}
.tabledisplayflex span {
padding-left: 30px;
}
.tableicons {
  display: flex;
}



/*--------------------------------------
settings page */

.settingsBody {
  top: 100px;
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 100px);
  position: absolute;
  padding: 60px 30px 30px 60px;
  z-index: 1;
}

.settingstext1 {
  width: 100%;
  color: var(--text-color);
  font-size: 30px;
}

.settingstext2 {
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 300;
}



}
.settings-wrapper {
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.settings-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: block;
  border-radius: 20px;
  background-color: #202020;
  padding: 100px 0 30px 0;
  width: 1100px;
  height: 700px;
}

.settings-h1 {
color: #fff;
margin-top: 10px;
font-size: 14px;
font-weight: 200;
text-decoration: underline;
}

.settings-h2 {
color: #fff;
font-weight: bold;
margin-top: 10;
font-size: 13px;
text-align: left;
margin-left: 25px;
}

.settings-h3 {
color: #fff;
font-weight: normal;
font-size: 13px;
text-align: left;
margin-left: 260px;
margin-right: 25px;
}



.setbtn {
  width: 500px;
  padding: 12px;
  color: #fff;
  background-color: #303030;
  align-items: center;
  border: none;
  border-radius: 16px;
  margin: 10px 0;
  opacity: 0.8;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  outline: none;
}
.setbtn2 {
  width: 200px;
  padding: 12px;
  color: #fff;
  background-color: #303030;
  align-items: center;
  border: none;
  border-radius: 16px;
  margin: 10px 0;
  opacity: 0.8;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  outline: none;
}

.setbtn2:hover {
  opacity: 1.7;
}


.setbtn2[type=submit] {
  background-color: #2C3AFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.setbtn2[type=submit]:hover {
  background-color: #fff;
  color: black;
}

.settingsbox {
  float: center;
  display: block;
  width: 100%;
  padding: 0 50px;
  margin-top: 30px;
}
